body {
    font-family: "Open Sans", Arial, sans-serif;
}

a {
    color: #333;
}
a:focus, a:hover {
    color: #008498;
}

.menu a {
    text-decoration: none;
}
.btn {
  border-radius: 0;
}

.explication {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  font-size: 2em;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.7);
}

.header {
	padding: 2em 0.5em;
}

.header_buttons .btn {
  margin-right: 7px;
}

.header .item {
   font-weight: bold;
   font-size: 1.2em;
   color: white;
   padding: 0 5px 0 5px;
}

.header .item .glyphicon {
    font-size: 0.9em;
    padding-right: 0.5em;
}

.header .fake-select-wrap button {
  width: 11.5em;
  padding: 10px;
  border-radius: 0;
}

/* MENU */

.menu {
	padding: 1em;
	font-weight: 800;
	font-size: 1.3em;
}

.menu .item {
  padding: 1.2em;
  font-size: 1.2em;
}
.menu .item:first-child {
  padding-left: 0.5em;
}

#mobile_menu {
    display: none;
    font-family: "Open Sans", Arial, sans-serif;
    position: absolute;
    max-width: 300px;
    height: 100%;
    background-color:white;
    position: fixed;
    z-index: 9999;
    padding: 10px 20px 0 20px;
    box-shadow: 0 0 10px #555;
}

#mobile_menu  div {
   padding: 5px 0px;
}
#mobile_menu  div:first-child {
   margin-bottom: 30px;
}

#mobile_menu div img {
   width: 100%;
   padding-right: 50px;
}

#mobile_menu div a {
    color: #555;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5em;
}

#mobile_menu .close_menu {
  position: absolute;
  top: 10px;
  display: block;
  right: 20px;
  cursor: pointer;
}
#mobile_menu hr.mobile  {
  border-color: #555;
  width: 100%;
}
#mobile_menu .btn {
  width: 100%;
  margin-bottom: 10px;
}

/* Mobile header */


#header_mobile {
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 120;
    padding: 10px;
    box-shadow: 0 0 10px #555;
}

#header_mobile .burger {
   font-size: 1em;
   display: inline-block;
   margin-top: 3px;
   cursor: pointer;
}

#header_mobile img {
  vertical-align: top;
  padding-top: 5px;
}

#header_mobile .cta {
  float: right;
   padding: 0.2em 0.3em 0.2em 0.3em;
   font-size: 0.5em;
}
#header_mobile .cta.right {
  margin-left: 8px;
}

#header_mobile .lang_mobile .fake-select-wrap, 
#header_mobile .lang_mobile .fake-select-wrap .dropdown-menu,
#header_mobile .lang_mobile button {
  width: 100%;
}


/*

MAIN STUFF

*/


.red_bg {
    background-color: #ec695c;
    padding: 2em 0;
}

.row.single-button {
  margin-top: 30px;
}

.sub_menu {
	color: white;
	font-size: 1.5em;
}

.sub_menu .item {
	padding: 1em;
	font-weight: bold;
}

.sub_menu .item .glyphicon {
    font-size: 0.9em;
    padding-right: 0.5em;
}


.sub_menu .item_level0 {
	padding: 0.8em 0em 0.8em 0em;
}

.sub_menu .level0 {
	color: white;
  font-weight: 800;
  font-size: 1.5em;
  padding: 0 1em 0 0 ;
}


.sub_menu .item_level1 {
	padding: 0em 0em 0em 0em;
}

.sub_menu .level1 {
	color: white;
  font-size: 1em;
}

.sub_menu .item_level2 {
	padding: 0em 0em 0em 0em;
}

.sub_menu .level2 {
	color: #F6D8CE;
	font-weight: bold;
	font-size: 0.75em;
	line-height:1.1em;
}

.sub_menu .item_level3 {
	font-size: 1em;
}

.sub_menu .level3 {
	color: #F6D8CE;
	font-weight: bold;
	font-size: 2em;
	line-height:1.1em;

}

.programme {
	padding: 3em 0em 0em 0em;
	background-color: white;
  font-weight: 800;

}

.programme-item {
  padding-top: 2em;
}

.sub_programme0 {
  font-weight: bold;
	color: #424242;
  font-size: 1.5em;
}

.sub_programme1 {
	color: #ec695c;
	font-size: 2.5em;
  margin-bottom: 20px;
}

#programme .col-md-4 img {
    max-width: 180px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.sub_programme2 {
	color: black;
	font-weight: normal;
	font-size: 1em;
	line-height:1.5em;
}


.sub_programme2 .glyphicon {
	font-size: 0.75em;
	padding-right: 0.5em;
	color: #ec695c;

}

.sub_programme2 .alinea {
	padding-left: 1em;

}

.sub_programme2 .alinea .glyphicon {
	font-size: 0.5em;
	padding-right: 0.5em;
	color: black;


}

.sub_programme3 {
	color: #ec695c;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.5em;
}

.vertical-dots{
  border-left: 2px dotted #ec695c;
  margin-top: 20px;
  padding-left: 10px;
}

hr.benevoles,
hr.partenaires,
hr.contact {
  margin-top: 40px;
  border-color: #AAA;
}

.Benevoles {
	padding: 1em 0em;
	background-color: white;
}

.sub_benevoles0 {
	color: #333;
	font-weight: normal;
	font-size: 2.5em;
	line-height: 1em;
  margin-bottom: 20px;
}


.sub_benevoles1 {
	padding: 0.5em 1em 0em 1em;
	color: black;
	font-weight: normal;
	font-size: 1em;
	line-height:1.5em;
}

.sub_benevoles1 .alinea {
	padding-left: 1em;

}

.sub_benevoles1 .alinea .glyphicon {
	font-size: 0.5em;
	padding-right: 0.5em;
	color: black;
}

.inscriptions {
	background-color: #ec695c;
	color: white;
	font-size: 1.5em;
}

.inscriptions .glyphicon {
	font-size: 0.75em;
	padding-right: 0.5em;
	color: white;
}

.inscriptions .item {
	padding: 0em;
}

.inscriptions .item_inscr {
	padding: 0.8em 5em 0.8em 5em;
}

.inscriptions .inscr {
	font-weight: bold;
	font-size: 0.9em;
	background-color: #008498;
	color: white;
	padding: 0.5em;
}

.inscriptions .inscr .glyphicon {
	font-size: 0.9em;
	padding-right: 0.5em;
}

.inscriptions .level0 {
	padding-bottom: 1em;
	color: white;
	font-size: 1em;
        font-weight: bold;
}

.inscriptions .level1 {
	color: white;
	font-size: 1.2em;
	padding: 0em 0.2em 0em 0em;
}

.inscriptions .level2 {
	color: white;
	font-size: 0.8em;
}


.inscriptions .btn,
.inscriptions div.wait {
  margin-top: 30px;
}

.row.about:first-child{
  padding-top: 3em;
}

.about .item {
	padding: 1em;
	font-weight: bold;
	color: white;
	font-size: 1.5em;
}
.about .title {
    border-bottom: 1px solid #eee;
    color: #ec695c;
    margin-bottom: 15px;
}

.about .item .glyphicon {
    font-size: 0.9em;
    padding-right: 0.5em;
}

.about .btn {
  margin-bottom: 10px;
}

.sub_about0 {
	padding: 0em 1em 0em 1em;
	font-size: 1.5em;
  font-weight: bold;
}

.sub_about1 {
	color: #ec695c;
	font-weight: normal;
	font-size: 2.5em;

}

.sub_about2 {
	color: black;
	font-weight: normal;
	font-size: 1em;
	line-height:1.5em;
}

.sub_about2 .glyphicon {
	font-size: 0.75em;
	color: #008498;
}

.sub_about2 .liens {
	padding-right: 0em;
	color: #008498;
	font-weight: bold;
}

.sub_about3 {
	padding: 1em 0em 1em 0em;
	color: #ec695c;
	font-weight: bold;
  font-size: 1.25em;
  line-height: 1.5em;
}

.about .partners {
  margin-bottom: 20px;
}
.padding_bottom {
    padding-bottom: 10px;
}

#contact, #partenaires {
  margin-top: 30px;
}


.btn-thot {
  color: #fff;
  background-color: #008498;
  border-color: #007488;
}
.btn-thot:focus,
.btn-thot.focus {
  color: #fff;
  background-color: #007488;
  border-color: #005468;
}
.btn-thot:hover {
  color: #fff;
  background-color: #007488;
  border-color: #006478;
}
.btn-thot:active,
.btn-thot.active,
.open > .dropdown-toggle.btn-thot {
  color: #fff;
  background-color: #007488;
  border-color: #006478;
}
.btn-thot:active:hover,
.btn-thot.active:hover,
.open > .dropdown-toggle.btn-thot:hover,
.btn-thot:active:focus,
.btn-thot.active:focus,
.open > .dropdown-toggle.btn-thot:focus,
.btn-thot:active.focus,
.btn-thot.active.focus,
.open > .dropdown-toggle.btn-thot.focus {
  color: #fff;
  background-color: #006478;
  border-color: #005468;
}
.btn-thot:active,
.btn-thot.active,
.open > .dropdown-toggle.btn-thot {
  background-image: none;
}
.btn-thot.disabled:hover,
.btn-thot[disabled]:hover,
fieldset[disabled] .btn-thot:hover,
.btn-thot.disabled:focus,
.btn-thot[disabled]:focus,
fieldset[disabled] .btn-thot:focus,
.btn-thot.disabled.focus,
.btn-thot[disabled].focus,
fieldset[disabled] .btn-thot.focus {
  background-color: #008498;
  border-color: #007488;
}
.btn-thot .badge {
  color: #008498;
  background-color: #fff;
}
.btn-thot .fa-inverse {
   color: #008498;
}
.btn-thot-text {
  font-size: 1.2em;
  font-weight: 800;
  margin-left: 10px;
  vertical-align: middle;
}
.btn-success .fa-inverse {
   color: #5cb85c;
}
.btn-info .fa-inverse {
  color: #5bc0de;
}

.social {
  color: #008498;
}
.social:hover {
  color: #007488;
}

/* FOOTER */

.email {
    padding-left: 15px;
}

.footer {
    background-color: #333;
    color: white;
    margin-top: 70px;
}

.footer {
  padding: 40px 0;
}

.footer .logo {
    padding: 2em 0em 2em 0em;
}

.footer .logo img {
    max-width: 150px;
}

.footer .btn {
  margin-bottom: 20px;
}


ul.press {
  padding: 0;
  list-style-type: none;
}
ul.press li {
  margin-bottom: 10px
}
.presscom {
  color: #008498;
  margin-left: 30px;
}
.pressmore {
  color: #777;
}

/* Media queries */


@media (max-width: 992px) {
  .big-header {
    margin-top: 105px;
  }
  .explication {
    font-size: 1.2em;
    width: 100%;
    margin: 0;
    left: 0;
    background-color:rgba(255, 255, 255, 0.85);
  }
  .btn-lg {
    font-size: 0.85em;
  }
  #partnersCarousel {
    display: block !important;
  }
  #partnersNormal {
    display: none;
  }
  .col-md-4.sub_programme3 {
    text-align: center;
    margin-bottom: 10px;  
  }
  #programme .col-md-4 img {
    float: none !important;
    margin: auto;
    max-width: 120px;
  }
}

@media (max-width: 360px) {
  .btn-thot:not(.cta) {
    font-size: 1em;
    width: 100%;
  }
  .btn-thot.btn-lg {
    font-size: 0.75em !important;
  }
  .explication {
    position: relative;
  }
}
