<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans %}Thot, l'école diplomante de français à destination des migrants{% endtrans %}</title>

    <meta name="description" content="{% trans %}Bienvenue chez Thot, école diplômante de français pour les réfugiés et demandeurs d’asile{% endtrans %}">
    <meta name="keywords" content="{% trans %}thot, ecole, diplome, réfugiés, diplomant, bénévoles{% endtrans %}">
    <meta name="author" content="THOT">

    <!-- Bootstrap -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <link rel="icon" type="image/png" href="static/img/favicon-16x16.png" /> 

    <link rel="apple-touch-icon" sizes="57x57" href="static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="manifest" href="static/img/manifest.json">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  </head>
<body>

<div id="mobile_menu">
      <div class="text-right">
          <img src="static/img/logo_small.png" alt="Thot">
          <span class="fa-stack fa-lg close_menu">
              <i class="fa fa-close fa-stack-2x"></i>
          </span>
      </div>

      <div class="text-left mobile-item"><a href="#programme">{% trans %}PROGRAMME{% endtrans %}</a></div>
      <div class="text-left mobile-item"><a href="#inscription">{% trans %}INSCRIPTION{% endtrans %}</a></div>
      <div class="text-left mobile-item"><a href="#apropos">{% trans %}À PROPOS{% endtrans %}</a></div>
      <div class="text-left mobile-item"><a href="#contact">{% trans %}CONTACT{% endtrans %}</a></div>
      <div class="text-left mobile-item"><a href="#partenaires">{% trans %}PARTENAIRES{% endtrans %}</a></div>

      <hr class="mobile">

      <a class="btn btn-thot"  href="{{ donation_link }}" target="_blank">
        <span class="fa-stack">
            <i class="fa fa-heart fa-stack-2x"></i>
            <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
        </span>
        <span class="btn-thot-text">{% trans %}Je veux faire un don{% endtrans %}</span>
      </a>

      {% if registration_open %}
        <a class="btn btn-success"  href="{{registration_link }}" target="_blank">
          <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
          <span class="btn-thot-text">{% trans %}Je veux m'inscrire{% endtrans %}</span>
        </a>
      {% endif %}

  </div>
</div>

<div class="container-fluid">

	<div class="hidden-xs hidden-sm">
 		<div class="row header">
 			
      <div class="col-md-4 logo">
 				<a href="/"><img src="static/img/logo.png" width="260px" alt="Thot"></a>
 			</div>

 			<div class="col-md-8">
        <div class="row header_buttons text-right">
		  		
				  <a class="btn btn-thot"  href="{{ donation_link }}" target="_blank">
  					<span class="fa-stack">
    						<i class="fa fa-heart fa-stack-2x"></i>
    						<i class="fa fa-eur fa-stack-1x fa-inverse"></i>
  					</span>
            <span class="btn-thot-text">{% trans %}Je veux faire un don{% endtrans %}</span>
				  </a>

          {% if registration_open %}
  				  <a class="btn btn-success"  href="{{registration_link }}" target="_blank">
    					<span class="fa-stack">
      						<i class="fa fa-circle fa-stack-2x"></i>
      						<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
    					</span>
              <span class="btn-thot-text">{% trans %}Je veux m'inscrire{% endtrans %}</span>
  				  </a>
          {% endif %}

			    <select id="lang">
			      <option value="/"{% if locale == "fr"%} selected{% endif %}>🌐 Français</option>
            <option value="/en.html"{% if locale == "en"%} selected{% endif %}>🌐 English</option> <!--english-->
			      <option value="/ar.html"{% if locale == "ar"%} selected{% endif %}>العربية 🌐</option> <!--arabe-->
			      <option value="/ps.html"{% if locale == "ps"%} selected{% endif %}>پښتو 🌐</option> <!--pashto-->
			      <option value="/fa.html"{% if locale == "fa"%} selected{% endif %}>🌐 Farsi</option> <!--farsi-->
			    </select>

        </div>  
		  </div>
    </div>

    <div class="row menu">
      <span class="text-center item"><a href="#programme">{% trans %}PROGRAMME{% endtrans %}</a></span>
      <span class="text-center item"><a href="#inscription">{% trans %}INSCRIPTION{% endtrans %}</a></span>
      <span class="text-center item"><a href="#apropos">{% trans %}À PROPOS{% endtrans %}</a></span>
      <span class="text-center item"><a href="#contact">{% trans %}CONTACT{% endtrans %}</a></span>
      <span class="text-center item"><a href="#partenaires">{% trans %}PARTENAIRES{% endtrans %}</a></span>

      <!--<div class="col-md-5 text-center item_don"><div class="don">
      <span class="glyphicon glyphicon-play"></span>
        Je veux faire un don</div></div>
      <div class="col-md-4 text-center item_don"><div class="inscription">
      <span class="glyphicon glyphicon-play"></span>
        Je veux m'inscrire</div></div>
    </div>-->
    </div>

  </div>

</div>


<!-- Mobile header -->
<div class="visible-xs visible-sm hidden-md hidden-lg" id="header_mobile">

  <div class="button burger">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </div>
  
  <img src="static/img/logo_small.png" alt="Thot" height="32px">

    {% if registration_open %}
    <a class="cta right btn btn-success" href="{{registration_link }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    {% endif %}
  
    <a class="cta left btn btn-thot" href="{{ donation_link }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-heart fa-stack-2x"></i>
        <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <div class="lang_mobile">
      <select id="lang_bis">
        <option value="/"{% if locale == "fr"%} selected{% endif %}>🌐 Français</option>
        <option value="/en.html"{% if locale == "en"%} selected{% endif %}>🌐 English</option> <!--english-->
        <option value="/ar.html"{% if locale == "ar"%} selected{% endif %}>العربية 🌐</option> <!--arabe-->
        <option value="/ps.html"{% if locale == "ps"%} selected{% endif %}>پښتو 🌐</option> <!--pashto-->
        <option value="/fa.html"{% if locale == "fa"%} selected{% endif %}>🌐 Farsi</option> <!--farsi-->
      </select>
    </div>

</div>
<!-- End Mobile header -->

{% block content %}{% endblock %}

<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 logo text-center">
        <img src="static/img/thot-white.png" class="img-responsive center-block">
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">
            <a href="{{ donation_link }}" class="btn btn-thot btn-lg" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-heart fa-stack-2x"></i>
                <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
              </span>
              <span class="btn-thot-text">{% trans %}Je veux faire un don{% endtrans %}</span>
            </a>
          </div>        
        </div>
        
        <div>
          <b>{% trans %}Pour transmettre un horizon à tous, nous avons créé Thot, école diplômante de français pour les réfugiés et demandeurs d’asile.{% endtrans %}</b>
        </div>

        <hr/>
              
        <div>{% trans %}2016 - THOT <br>Logo : Laurent Rivelaygue · Direction artistique : Laure Dubuc{% endtrans %}</div>
      </div>
    </div>
  </div>
</div>

<script src="static/js/jquery-1.12.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/fakeselect.js"></script>
<style type="text/css" src="static/css/bootstrap.min.css"></style>
<script type="text/javascript">
	$(document).ready(function($) {
	    $('#lang').fakeSelect();
      $('#lang_bis').fakeSelect();
	});

  $('.burger').bind('click', function(e) { $("#mobile_menu").show(); });
  $('.close_menu').bind('click', function(e) { $("#mobile_menu").hide(); });
  $('.mobile-item').bind('click', function(e) {
      var target = $(this).find("a").attr('href')
      // Override scroll due to sticky header
      $('html, body').animate({
          scrollTop: $(target).offset().top - 130
      }, 500);
      $("#mobile_menu").hide();
  });

  $('#lang').bind('change', function(e) { window.location.href = $("#lang option:selected").val(); });
  $('#lang_bis').bind('change', function(e) { window.location.href = $("#lang_bis option:selected").val(); });
</script>

</body>
</html>
