{% extends "base.html" %}
{% block content %}
    <div>
    <img src="static/img/header.jpg" class="img-responsive">
    </div>

        <div class="red_bg">
            <div class="container">
            <div class="row sub_menu">

   			<div class="col-md-3 text-left"><div class="level0">
   				{% trans %}Amis, donateurs,<br>
          nous avons<br>
          besoin de vous!{% endtrans %}</div>
        </div>

	<div class="col-md-9 text-left">
            <div class="level1">
            <p>L'association est entièrement prise en charge par des
            bénévoles, seuls les professeurs sont rémunérés.<br>
            La richesse de l'association, c'est vous!</p>
            </div>
              
            <div class="row">
              <div class="col-md-4 text-left">
                <span class="level3"> 1 000 €</span> <br>
                <span class="level2"> par apprenant pour
                4 mois de formation <br></span>
              </div>
  
              
              <div class="col-md-4 text-left">
                <span class="level3"> 40 </span> 
                <span class="level2"> apprenants <br>
                  pris en charge en 2016 grâce à vos dons</span>
              </div>

          </div>
        
                <div class="col-md-6 text-center item">
                  <div class="inside">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-heart fa-stack-2x"></i>
                      <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
                    </span>
                    Je veux faire un don
                  </div>
                </div>
         
</div></div>
</div>

    </div>


    <div class="container">
    <div class="row programme">
          <div class="col-md-3 text-left sub_programme0"> 
            PROGRAMME</div>
    </div>
    <div class="row">
          <div class="col-md-3 text-left sub_programme1">
            Notre pédagogie</div>
          <div class="col-md-9 text-left sub_programme2"> 
            <p>Les sessions d'apprentissage durent <b>4 mois</b>, temps évalué pour passer d'un niveau de langue à l'autre.<br></p>
            <p>Pour que les cours soient suivis avec l'assiduité nécessaire, ils sont toujours dispensés à des horaires hors démarches administratives (en fin de journée et le weekend).<br></p>
            <p>Chaque session de formation comprend <b>160 heures</b> de cours conçus selon les besoins et niveaux des apprenants. <br></p> 
        </div>
    </div>

    <div class="row">
          <div class="col-md-3 sub_programme3">
              <img src="static/img/THOT_composants_Pour_tous.png" class="img-responsive" alt="Pour Tous">
            </div>
          <div class="col-md-9 text-left">
            <div class="sub_programme3">
              Une offre de Français Langue Étrangère (FLE) pour tous</div>
            <div class="sub_programme2">
              <p><span class="glyphicon glyphicon-circle-arrow-right"></span>Nous assurons les cours pour tous les niveaux de maîtrise de langue.<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span>Le statut n'importe guère : réfugié, demandeur d'asile, dubliné ou autre sont tous pris en compte. </p>
              <p><span class="glyphicon glyphicon-option-vertical"></span>Nos cours s'adressent en priorité aux personnes n'ayant pas un niveau équivalent au Baccalauréat. Des structures d'intégration en université se mettent en place pour les diplômés du secondaire, que nous encourageons à se renseigner auprès des associations.</p></div>
        </div>
    </div>

    <div class="row">
          <div class="col-md-3 sub_programme3">
              <img src="static/img/THOT_composants_Professeurs.png" class="img-responsive" alt="Professeurs">
          </div>
          <div class="col-md-9 text-left">
            <div class="sub_programme3">
              Des professeurs recrutés sur leur excellence</div>
            <div class="sub_programme2">
              <p><span class="glyphicon glyphicon-circle-arrow-right"></span>Les professeurs de Thot sont tous diplômés en FLE et habilités à mener nos apprenants vers le diplôme correspondant à leur objectif en France.<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span>Autant que possible, nous recrutons des professeurs parlant la langue des apprenants (farsi, pashto, arabe, etc.) afin d'assurer un saut plus fluide d'une langue vers l'autre.</p>
              <p><span class="glyphicon glyphicon-option-vertical"></span>Les professeurs de Français Langue Etrangère (FLE) souhaitant re- joindre Thot sont invités à envoyer un mail avec CV et lettre de motivation à professeurs@thot-fle.fr. Les postes sont rémunérés.</p></div>
          </div>
    </div>

    <div class="row">
          <div class="col-md-3 sub_programme3">
              <img src="static/img/THOT_composants_Rapide_innovante.png" class="img-responsive" alt="Rapide Innovante">
          </div>
          <div class="col-md-9 text-left">
            <div class="sub_programme3">
              Une formation rapide et innovante</div>
            <div class="sub_programme2">
              <p><span class="glyphicon glyphicon-circle-arrow-right"></span>
                Nous construisons nos programmes autour de la réalité culturelle et plurilingue des apprenants :
                <div class ="alinea">
                  <span class="glyphicon glyphicon-ok"></span>utilisation des logiques syntaxiques et lexicales des langues connues pour créer une passerelle logique vers le français<br>
                  <span class="glyphicon glyphicon-ok"></span>échanges interculturels.</div>
              </p>
              <p><span class="glyphicon glyphicon-circle-arrow-right"></span>
                Nous associons des méthodologies diversifiées dans notre pédagogie :
                <div class ="alinea">
                  <span class="glyphicon glyphicon-ok"></span>programmes RFI Savoirs et TV5 Monde (avec formation des professeurs aux méthodes)<br>
                  <span class="glyphicon glyphicon-ok"></span>mises en situation réelles des apprenants (remplissage de formulaires, démarches professionnelles ou administratives, échanges avec des interlocuteurs du quotidien)<br>
                  <span class="glyphicon glyphicon-ok"></span>introduction à la vie culturelle (patrimoine et société), etc.<br>
                </div>
              </p>
            </div>
    </div>
    </div>

    <div class="row">
          <div class="col-md-3 sub_programme3">
              <img src="static/img/THOT_composants_Diplome.png" class="img-responsive" alt="Diplome">
          </div>
          <div class="col-md-9 text-left">
            <div class="sub_programme3">
              Un diplôme d'aptitude au français reconnu par l'Etat</div>
            <div class="sub_programme2">
              <p><span class="glyphicon glyphicon-circle-arrow-right"></span>Thot s'engage à mener ses apprenants vers l'obtention du DELF Pro (qui atteste de la capacité à interagir en milieu professionnel en fonction du niveau de langue).<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span>Il est délivré après examen écrit et oral en centre d'examen, et correspond donc à un diplôme international, reconnu par l'Etat français.</p>
            </div>

      </div>
    </div>
    <!-- ajouter un trait horizontal (voir DA)-->

    <div class="row Benevoles">
          <div class="col-md-3 text-left sub_benevoles0">
            Bénévoles, nous avons besoin de vous!</div>
          <div class="col-md-9 text-left sub_benevoles1"> 
            <p>La formation Thot est rendue efficace grâce la conjonction d’un enseignement par des professeurs diplômés et votre intervention en tant que tuteurs et accompagnants.<br></p>
            <div class ="alinea"><p>
              <span class="glyphicon glyphicon-ok"></span>Les bénévoles sont formés à la méthodologie Thot.<br>
              <span class="glyphicon glyphicon-ok"></span>Leurs interventions consolident les cours des professeurs et vont du tutorat à d'autres activités inclusives (sorties culturelles, jeux, conversations...).</p>
            </div> 
            <p>Nous demandons aux bénévoles qui souhaitent s'investir chez nous 2 heures hebdomadaires sur 4 mois. Pour être bénévole, écrivez-nous à : benevoles@thot-fle.fr .<br></p>
          </div>
        </div>
    </div>

    <div class="red_bg">
    <div class="container container_inscriptions">
    <div class="row inscriptions">
          <div class="col-md-3 text-left level0"> 
            INSCRIPTION</div>
        </div>
    <div class="row inscriptions">

        <div class="col-md-3 text-left"><div class="level1">
          Réfugiés ou demandeurs d'asile :<br>
          inscrivez-vous </div>
        </div>

        <div class="col-md-9">
            <div class="level2">
            En vous inscrivant chez Thot, vous vous engagez à :<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span> payer une inscription symbolique de 7 € au moment de l'adhésion finale<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span> suivre chaque cours sans exception
          </div>

        
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6 text-center item">
              <div class="inside">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
                Je veux m'inscrire
              </div>
            </div>
          </div>

        </div>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="row about">
          <div class="col-md-3 text-left sub_about0"> 
            A PROPOS</div>
    </div>

        <div class="row about">
          <div class="col-md-3 text-left sub_about1">
            Notre mission,<br>
            transmettre un horizon à tous</div>
          <div class="col-md-9 text-left">
            <div class="sub_about3">
              Pourquoi avoir nommé l'école "Thot" ?</div>
            <div class="sub_about2">
              <p>Thot était le dieu égyptien qui incarnait le concept de Savoir. Sa mission étant de disséminer ses connaissances, il inventa le langage. Ce symbole est à l'image de la mission que nous nous sommes confiée : transmettre par le langage la possibilité pour les individus de s'épanouir ici, en France.</p></div>

            <div class="sub_about3">
              Qui sommes nous ?</div>
            <div class="sub_about2">
              <p>L’équipe Thot s’est constituée lors d'actions de soutien aux réfugiés et demandeurs d’asile. Malgré leurs nationalités nombreuses, leurs histoires toutes dramatiques, et leurs niveaux sociaux très variés, nous avons constaté qu'une question leur demeurait commune : « Où pouvons-nous apprendre le français ? »</p>
              <p>A ce jour, aucune formation gratuite et qualifiante, dispensée par des professeurs diplômés, ne leur est pourtant proposée. Nous créons donc l'école Thot pour pallier l’absence de formation diplômante à destination des réfugiés et demandeurs d’asile.</p>
              <p>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                  <span class="liens">Judith Aquien</span>, présidente<br>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                  <span class="liens">Héloïse Nio</span>, vice-présidente<br>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                  <span class="liens">Jennifer Leblond</span>, trésorière<br>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                  <span class="liens">Imaad Ali</span>, directeur pédagogique<br>
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                  <span class="liens">Mariame Camara</span>, responsable de l'enseignement et de la formation
              </p>
            </div>

            <div class="sub_about3">
              Comment gérons-nous notre budget ?</div>
            <div class="sub_about2">
              <p>Nous croyons en la transparence, d'autant plus que les fonds dont nous disposons viennent du grand public autant que d'institutions privées et publiques. C'est pourquoi nous publions notre budget à jour.</p>
            </div>

            <div class="row">

              <div class="col-md-6 text-center item">
                  <div class="donation_btn">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-heart fa-stack-2x"></i>
                      <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
                    </span>
                    Je veux faire un don
                  </div>
              </div>

              <div class="col-md-6 text-center item">
                <div class="inside">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                  </span>
                  Je veux consulter le budget
                </div>
              </div>

            </div>
              
          </div>
        </div>

    <div class="row about">
          <div class="col-md-3 text-left sub_about0"> 
            CONTACT</div>
    </div>

        <div class="row about">
          <div class="col-md-3 text-left sub_about1">
            Nous serons ravis de vous répondre</div>
          <div class="col-md-9 text-left">
 <div class="sub_about3">Nous écrire par voie électronique</div>

<div class="padding_bottom">
<span class="glyphicon glyphicon-circle-arrow-right"></span> Pour être recruté en tant que professeur de FLE :
<br><span class="email"><a href="mailto:professeurs@thot-fle.fr">professeurs@thot-fle.fr</a></span>
</div>

<div class="padding_bottom">
<span class="glyphicon glyphicon-circle-arrow-right"></span> Pour proposer votre aide en tant que bénévole :
<br><span class="email"><a href="mailto:benevoles@thot-fle.fr">benevoles@thot-fle.fr</a></span>
</div>

<div class="padding_bottom">
<span class="glyphicon glyphicon-circle-arrow-right"></span> Pour des partenariats :
<br><span class="email"><a href="mailto:partenariats@thot-fle.fr">partenariats@thot-fle.fr</a></span>
</div>

<div class="padding_bottom">
<span class="glyphicon glyphicon-circle-arrow-right"></span> Pour tout autre renseignement :
<br><span class="email"><a href="mailto:contact@thot-fle.fr">contact@thot-fle.fr</a></span>
</div>

    <div class="sub_about3">Réhabiliter la missive traditionnelle</div>

   <div>Association Thot
    <br>83 rue du faubourg Poissonnière
     <br>75009 Paris, France</div>

      <div class="sub_about3">Nous suivre et parler de nous sur les réseaux</div>

    <div class="row">
        <div class="col-xs-1">
                <a href="https://www.facebook.com/thot.fle/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span></a>
        </div>
        <div class="col-xs-1">
                <a href="https://twitter.com/Thot_fle" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span></a>
        </div>
    </div>



          </div> 

        </div>
</div>


{% endblock %}
