{% extends "base.html" %}

{% block content %}

<div style="position:relative">
  <img src="static/img/header.jpg" width="100%" class="img-responsive big-header">
  <h1 class="explication"><strong>{% trans %}Bienvenue chez Thot{% endtrans %}</strong>,<br>{% trans %}l'école diplômante de français pour les réfugiés et demandeurs d’asile{% endtrans %}</h1>
</div>

<div class="red_bg">
  <div class="container">
    <div class="row sub_menu">

        <div class="col-md-4 text-left">
        <div class="level0">
   				{% trans %}Amis, donateurs, nous avons besoin de vous&nbsp;!{% endtrans %}
        </div>
       </div>

      <div class="col-md-8 text-left">
        <div class="level1">
          <p>{% trans %}L'association est entièrement prise en charge par des
          bénévoles, seuls les professeurs sont rémunérés.<br>
          La richesse de l'association, c'est vous&nbsp;!{% endtrans %}</p>
        </div>

        <div class="row">
          <div class="col-md-4 cols-sm-6 col-xs-6 text-left">
            {% trans %}<span class="level3"> 1&nbsp;200&nbsp;€</span> <br>
            <span class="level2"> par apprenant pour
            4 mois de formation</span>{% endtrans %}
          </div>

          {% if nb_students > 0 %}
          <div class="col-md-4 cols-sm-6 col-xs-6 text-left">
            {% trans %}<span class="level3"> {{ nb_students }} </span>
            <span class="level2">apprenants <br>
              pris en charge en 2016 grâce à vos dons</span>{% endtrans %}
          </div>
          {% endif %}
        </div>

        <div class="row single-button">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <a href="{{ donation_link }}" class="btn btn-thot btn-lg" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-heart fa-stack-2x"></i>
                <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
              </span>
              <span class="btn-thot-text">{% trans %}Je veux faire un don{% endtrans %}</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="container" id="programme">

  <div class="row programme">
    <div class="col-md-12 text-left sub_programme0">
      {% trans %}PROGRAMME{% endtrans %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-left sub_programme1">
      {% trans %}Notre pédagogie{% endtrans %}
    </div>
    <div class="col-md-8 text-left sub_programme2">
      <p>{% trans %}Les sessions d'apprentissage durent <b>4 mois</b>, temps évalué pour passer d'un niveau de langue à l'autre.{% endtrans %}<br></p>
      <p>{% trans %}Pour que les cours soient suivis avec l'assiduité nécessaire, ils sont toujours dispensés à des horaires hors démarches administratives (en fin de journée et le weekend).{% endtrans %}<br></p>
      <p>{% trans %}Chaque session de formation comprend <b>160 heures</b> de cours conçus selon les besoins et niveaux des apprenants.{% endtrans %}<br></p>
    </div>
  </div>

  <div class="row programme-item">
    <div class="col-md-4 sub_programme3">
      <img src="static/img/THOT_composants_Pour_tous.png" class="img-responsive" alt="Pour Tous">
    </div>

    <div class="col-md-8 text-left">
        <div class="sub_programme3">
          {% trans %}Une offre de Français Langue Étrangère (FLE) pour tous{% endtrans %}
        </div>
        <div class="sub_programme2">
          <p><span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}Nous assurons les cours pour tous les niveaux de maîtrise de langue.{% endtrans %}<br>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}Le statut n'importe guère : réfugié, demandeur d'asile, dubliné ou autre sont tous pris en compte.{% endtrans %}</p>
          <p class="vertical-dots">{% trans %}Nos cours s'adressent en priorité aux personnes n'ayant pas un niveau équivalent au Baccalauréat. Des structures d'intégration en université se mettent en place pour les diplômés du secondaire, que nous encourageons à se renseigner auprès des associations.{% endtrans %}</p>
        </div>
    </div>
  </div>

  <div class="row programme-item">
    <div class="col-md-4 sub_programme3">
        <img src="static/img/THOT_composants_Professeurs.png" class="img-responsive" alt="Professeurs">
    </div>
    <div class="col-md-8 text-left">
        <div class="sub_programme3">
          {% trans %}Des professeurs recrutés sur leur excellence{% endtrans %}
        </div>
        <div class="sub_programme2">
          <p><span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}Les professeurs de Thot sont tous diplômés en FLE et habilités à mener nos apprenants vers le diplôme correspondant à leur objectif en France.{% endtrans %}<br>
          <em>{% trans %}Notre équipe de professeurs est actuellement au complet, nous ne recrutons pas. Merci.{% endtrans %}</em><br>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}Autant que possible, nous recrutons des professeurs parlant la langue des apprenants (farsi, pashto, arabe, etc.) afin d'assurer un saut plus fluide d'une langue vers l'autre.{% endtrans %}</p>
          <!-- <p class="vertical-dots">{% trans %}Les professeurs de Français Langue Etrangère (FLE) souhaitant re- joindre Thot sont invités à envoyer un mail avec CV et lettre de motivation à professeurs@thot-fle.fr. Les postes sont rémunérés.{% endtrans %}</p> --></div>
        </div>
  </div>

  <div class="row programme-item">
    <div class="col-md-4 sub_programme3">
        <img src="static/img/THOT_composants_Rapide_innovante.png" class="img-responsive" alt="Rapide Innovante">
    </div>

    <div class="col-md-8 text-left">
        <div class="sub_programme3">
          {% trans %}Une formation rapide et innovante{% endtrans %}
        </div>
        <div class="sub_programme2">
          <p><span class="glyphicon glyphicon-circle-arrow-right"></span>
            {% trans %}Nous construisons nos programmes autour de la réalité culturelle et plurilingue des apprenants :{% endtrans %}
            <div class ="alinea">
              <span class="glyphicon glyphicon-ok"></span>{% trans %}utilisation des logiques syntaxiques et lexicales des langues connues pour créer une passerelle logique vers le français{% endtrans %}<br>
              <span class="glyphicon glyphicon-ok"></span>{% trans %}échanges interculturels.{% endtrans %}</div>
          </p>
          <p><span class="glyphicon glyphicon-circle-arrow-right"></span>
            {% trans %}Nous associons des méthodologies diversifiées dans notre pédagogie :{% endtrans %}
            <div class ="alinea">
              <span class="glyphicon glyphicon-ok"></span>{% trans %}programmes RFI Savoirs et TV5 Monde (avec formation des professeurs aux méthodes){% endtrans %}<br>
              <span class="glyphicon glyphicon-ok"></span>{% trans %}mises en situation réelles des apprenants (remplissage de formulaires, démarches professionnelles ou administratives, échanges avec des interlocuteurs du quotidien){% endtrans %}<br>
              <span class="glyphicon glyphicon-ok"></span>{% trans %}introduction à la vie culturelle (patrimoine et société), etc.{% endtrans %}<br>
            </div>
          </p>
        </div>
    </div>
  </div>

  <div class="row programme-item">
    <div class="col-md-4 sub_programme3">
        <img src="static/img/THOT_composants_Diplome.png" class="img-responsive" alt="Diplome">
    </div>
    <div class="col-md-8 text-left">
        <div class="sub_programme3">
          {% trans %}Un diplôme d'aptitude au français reconnu par l'Etat{% endtrans %}</div>
        <div class="sub_programme2">
          <p><span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}Thot s'engage à mener ses apprenants vers l'obtention du DELF Pro (qui atteste de la capacité à interagir en milieu professionnel en fonction du niveau de langue).{% endtrans %}<br>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}Il est délivré après examen écrit et oral en centre d'examen, et correspond donc à un diplôme international, reconnu par l'Etat français.{% endtrans %}</p>
        </div>
    </div>
  </div>

  <hr class="benevoles">

  <div class="row Benevoles">
        <div class="col-md-4 text-left sub_benevoles0">
          {% trans %}Bénévoles, venez chez Thot&nbsp;!{% endtrans %}
        </div>

        <div class="col-md-8 text-left sub_benevoles1">
          <p>{% trans %}La formation Thot est rendue efficace grâce la conjonction d’un enseignement par des professeurs diplômés et votre intervention en tant que tuteurs et accompagnants.{% endtrans %}</p>
          <div class ="alinea"><p>
            <span class="glyphicon glyphicon-ok"></span>{% trans %}Les bénévoles sont formés à la méthodologie Thot.{% endtrans %}<br>
            <span class="glyphicon glyphicon-ok"></span>{% trans %}Leurs interventions consolident les cours des professeurs et vont du tutorat à d'autres activités inclusives (sorties culturelles, jeux, conversations...).{% endtrans %}</p>
          </div>
          <p>{% trans %}Nous demandons aux bénévoles qui souhaitent s'investir chez nous 2 heures hebdomadaires sur 4 mois.{% endtrans %}</p>

          {% if volunteer_open %}
          <p><strong>Merci de consulter ce document explicatif avant de candidater : <a href="static/pdf/Thot_EtreBenevole.pdf" class="benevolecom"><i class="fa fa-download"></i> {% trans %}Télécharger{% endtrans %} <em>(PDF — 635 Ko)</em></a></strong></p>
          <a href="{{ volunteer_link }}" target="_blank" type="button" class="btn btn-thot">
            <span class="fa-stack fa-lg">
              <i class="fa fa-user fa-stack-2x"></i>
            </span>
            <span class="btn-thot-text">{% trans %}Je veux devenir bénévole{% endtrans %}</span>
          </a>
          {% else %}
            <em>Les candidatures pour le bénévolat sont closes, nos équipes sont au complet.</em>
          {% endif %}

        </div>
      </div>
  </div>

</div>


<div class="red_bg">
  <div class="container container_inscriptions" id="inscription">

    <div class="row inscriptions">
      <div class="col-md-4 text-left level0">
            {% trans %}INSCRIPTION{% endtrans %}
      </div>
    </div>

    <div class="row inscriptions">
      <div class="col-md-4 text-left">
        <div class="level1">
        {% trans %}Réfugiés ou demandeurs d'asile :<br>
        inscrivez-vous{% endtrans %}
        </div>
      </div>

      <div class="col-md-8 text-left">
        <div class="level2">
            {% trans %}En vous inscrivant chez Thot, vous vous engagez à :{% endtrans %}<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}payer une inscription symbolique de 7 € au moment de l'adhésion finale{% endtrans %}<br>
              <span class="glyphicon glyphicon-circle-arrow-right"></span>{% trans %}suivre chaque cours sans exception{% endtrans %}
        </div>

        {% if registration_open %}
        <br>
          <div>{% trans %}Les inscriptions sont ouvertes !{% endtrans %} {% trans %}Vous pouvez vous inscrire jusqu'au 7 mars à 11h.{% endtrans %}</div>
          <a class="btn btn-success btn-lg"  href="{{ registration_links[locale] }}" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
            <span class="btn-thot-text">{% trans %}Je veux m'inscrire{% endtrans %}</span>
          </a>
        {% else %}
          <div class="wait"><em>
            {% trans %}Les inscriptions pour la session d'avril à juillet sont fermées. La prochaine session d'inscription aura lieu le 23 juillet à 11h. Un bouton "Je veux m'inscrire" sera visible sur ce site, et vous mènera au formulaire d'inscription. Pour accéder au formulaire dans une autre langue, changez la langue du site internet en haut à droite de la page.{% endtrans %}
          </em></div>
        {% endif %}

      </div>
    </div>
  </div>
</div>


<div class="container" id="apropos">
  <div class="row about">
    <div class="col-md-4 text-left sub_about0">
      {% trans %}A PROPOS{% endtrans %}
    </div>
  </div>

  <div class="row about">
    <div class="col-md-4 text-left sub_about1">
      {% trans %}Notre mission, transmettre un horizon à tous{% endtrans %}
    </div>

    <div class="col-md-8 text-left">
      <div class="sub_about3">
        {% trans %}Pourquoi avoir nommé l'école "Thot" ?{% endtrans %}
      </div>

      <div class="sub_about2">
        <p>{% trans %}Thot était le dieu égyptien qui incarnait le concept de Savoir. Sa mission étant de disséminer ses connaissances, il inventa le langage. Ce symbole est à l'image de la mission que nous nous sommes confiée : transmettre par le langage la possibilité pour les individus de s'épanouir ici, en France.{% endtrans %}</p>
      </div>

       <div class="sub_about3">
        {% trans %}Qui sommes-nous ?{% endtrans %}
      </div>

      <div class="sub_about2">
        <p>{% trans %}L’équipe Thot s’est constituée lors d'actions de soutien aux réfugiés et demandeurs d’asile. Malgré leurs nationalités nombreuses, leurs histoires toutes dramatiques, et leurs niveaux sociaux très variés, nous avons constaté qu'une question leur demeurait commune : « Où pouvons-nous apprendre le français ? »</p>
        <p>A ce jour, aucune formation gratuite et qualifiante, dispensée par des professeurs diplômés, ne leur est pourtant proposée. Nous créons donc l'école Thot pour pallier l’absence de formation diplômante à destination des réfugiés et demandeurs d’asile.{% endtrans %}</p>
        <p>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
            <span class="liens">Judith Aquien</span>, {% trans %}présidente{% endtrans %}<br>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
            <span class="liens">Héloïse Nio</span>, {% trans %}vice-présidente{% endtrans %}<br>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
            <span class="liens">Jennifer Leblond</span>, {% trans %}trésorière{% endtrans %}<br>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
            <span class="liens">Mariame Camara</span>, {% trans %}directrice pédagogique{% endtrans %}
        </p>
      </div>

      {% if budget_available %}
      <div class="sub_about3">
        {% trans %}Comment gérons-nous notre budget ?{% endtrans %}
      </div>

      <div class="sub_about2">
        <p>{% trans %}Nous croyons en la transparence, d'autant plus que les fonds dont nous disposons viennent du grand public autant que d'institutions privées et publiques. C'est pourquoi nous publions notre budget à jour.{% endtrans %}</p>
      </div>
      {% endif %}

      <div class="row">

        <div class="col-md-5 text-left">
          <a href="{{ donation_link }}" class="btn btn-thot" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-heart fa-stack-2x"></i>
              <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
            </span>
            <span class="btn-thot-text">{% trans %}Je veux faire un don{% endtrans %}</span>
          </a>
        </div>

        {% if budget_available %}
        <div class="col-md-5 text-left">
          <a href="#" class="btn btn-info" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-file fa-stack-1x fa-inverse"></i>
            </span>
            <span class="btn-thot-text">{% trans %}Je veux consulter le budget{% endtrans %}</span>
          </a>
        </div>
        {% endif %}

      </div>

    </div>
  </div>

  <hr class="contact">

  <div class="row about" id="contact">
    <div class="col-md-4 text-left sub_about0">
      {% trans %}CONTACT{% endtrans %}
    </div>
  </div>

  <div class="row about">
    <div class="col-md-4 text-left sub_about1">
      {% trans %}Nous serons ravis de vous répondre{% endtrans %}
    </div>

    <div class="col-md-8 text-left">
      <div class="sub_about3">{% trans %}Nous écrire par voie électronique{% endtrans %}</div>

      <div class="padding_bottom">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> {% trans %}Pour un renseignement concernant les postes des professeurs de FLE à Thot :{% endtrans %}
      <br><span class="email"><a href="mailto:professeurs@thot-fle.fr">professeurs@thot-fle.fr</a></span>
      <em>({% trans %}Notre équipe de professeurs est actuellement au complet, nous ne recrutons pas.{% endtrans %})</em>
      </div>

      {% if volunteer_open %}
      <div class="padding_bottom">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> {% trans %}Pour proposer votre aide en tant que bénévole :{% endtrans %}
      <br><span class="email"><a href="mailto:benevoles@thot-fle.fr">benevoles@thot-fle.fr</a></span>
      </div>
      {% endif %}

      <div class="padding_bottom">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> {% trans %}Pour des partenariats :{% endtrans %}
      <br><span class="email"><a href="mailto:contact@thot-fle.fr">contact@thot-fle.fr</a></span>
      </div>

      <div class="padding_bottom">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> {% trans %}Pour tout autre renseignement :{% endtrans %}
      <br><span class="email"><a href="mailto:contact@thot-fle.fr">contact@thot-fle.fr</a></span>
      </div>

      <!--
      <div class="sub_about3">{% trans %}Réhabiliter la missive traditionnelle{% endtrans %}</div>

      <div>
        <strong>{% trans %}Association Thot{% endtrans %}</strong>
        <br><em>c/o Maison des Associations du 2e</em>
        <br>23 rue Greneta
        <br>75002 Paris, France
      </div>-->

      <div class="sub_about3">{% trans %}Nous suivre et parler de nous sur les réseaux{% endtrans %}</div>

      <div class="row">
        <div class="col-xs-2 col-md-1">
                <a href="https://www.facebook.com/thot.fle/" class="social" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span></a>
        </div>
        <div class="col-xs-2 col-md-1">
                <a href="https://twitter.com/Thot_fle" class="social" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span></a>
        </div>
      </div>

    </div>

  </div>

  <hr class="partenaires">

  <div class="row about" id="partenaires">
    <div class="col-md-3 text-left sub_about0">
          {% trans %}PARTENAIRES{% endtrans %}
    </div>
  </div>

  <div class="row about">
    <div class="col-md-4 text-left sub_about1">
      {% trans %}Ils croient en nous, merci à eux&nbsp;!{% endtrans %}
    </div>

    <div class="col-md-8 text-left">
            <div class="title">{% trans %}Partenaires{% endtrans %}</div>
            <div class="row partners" id="partnersNormal">
                <div class="col-md-4">
                    <a href="http://fondationlafrancesengage.org/" target="_blank">
                    <img src="static/img/partenaires/la_france_sengage.png" height="44px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://ulule.fr/" target="_blank">
                    <img src="static/img/partenaires/ulule.png" height="44px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.ac-paris.fr/portail/jcms/j_6/accueil" target="_blank">
                    <img src="static/img/partenaires/academie_de_paris.jpg" height="44px">
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3">
                    <a href="https://www.immigration.interieur.gouv.fr/La-Direction-generale/Directions-et-services" target="_blank">
                    <img src="static/img/partenaires/daaen.jpg" height="44px">
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="https://www.paris.fr/" target="_blank">
                    <img src="static/img/partenaires/mairie_de_paris.jpg" height="38px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.cci-paris-idf.fr/" target="_blank">
                    <img src="static/img/partenaires/ccip.png" height="44px">
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <a href="http://www.alliancefr.org" target="_blank">
                    <img src="static/img/partenaires/alliance_francaise.png" height="44px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://gaite-lyrique.net/" target="_blank">
                    <img src="static/img/partenaires/gaite_lyrique.jpg" height="44px">
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.cite-sciences.fr/fr/au-programme/lieux-ressources/cite-des-metiers/" target="_blank">
                    <img src="static/img/partenaires/cite_des_metiers.png" height="44px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://www.forumdesimages.fr/" target="_blank">
                    <img src="static/img/partenaires/forum_des_images.jpg" height="44px">
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <a href="https://savoirs.rfi.fr/" target="_blank">
                    <img src="static/img/partenaires/rfi.png" height="38px">
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="http://apprendre.tv5monde.com/" target="_blank">
                    <img src="static/img/partenaires/tv5monde.png" height="44px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="http://social-factory.org/" target="_blank">
                    <img src="static/img/partenaires/social_factory.jpg" height="44px">
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <a href="http://www.pionnieres.paris/" target="_blank">
                    <img src="static/img/partenaires/ppionieres.png" height="44px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://group.bnpparibas/en/" target="_blank">
                    <img src="static/img/partenaires/bnp.png" height="44px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://www.groupegalerieslafayette.fr/" target="_blank">
                    <img src="static/img/partenaires/groupe_lafayette.jpg" height="44px">
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-2">
                    <a href="https://www.fondationdefrance.org/en" target="_blank">
                    <img src="static/img/partenaires/fondation_de_france.png" height="44px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.snf.org/" target="_blank">
                    <img src="static/img/partenaires/snf.jpg" height="44px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://thanksfornothing.fr/fr/" target="_blank">
                    <img src="static/img/partenaires/tfn.png" height="44px">
                    </a>
                </div>
            </div>

            <div id="partnersCarousel" class="carousel slide" data-ride="carousel" style="display: none">

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="static/img/partenaires/la_france_sengage.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/ulule.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/academie_de_paris.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/daaen.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/mairie_de_paris.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/ccip.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/alliance_francaise.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/gaite_lyrique.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/cite_des_metiers.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/forum_des_images.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/rfi.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/tv5monde.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/social_factory.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/ppionieres.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/bnp.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/groupe_lafayette.jpg">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/fondation_de_france.png">
                </div>
                <div class="item">
                    <img src="static/img/partenaires/tfn.png">
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#partnersCarousel" role="button" data-slide="prev" style="background: none; color: black">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#partnersCarousel" role="button" data-slide="next" style="background: none; color: black">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <div class="title padding_top">{% trans %}Remerciements{% endtrans %}</div>
            <div>
                {% trans %}Laurent Rivelaygue · Laure Dubuc · Thomas Grange · Javed · Hind · Ershad · Tina Bouffet · Axel Dreyfus ·
                Louis Nordon · Thibaut Sardier{% endtrans %} · tchap
            </div>
        </div>

  </div>

  <hr class="partenaires">

  <div class="row about" id="presse">
    <div class="col-md-3 text-left sub_about0">
          {% trans %}PRESSE{% endtrans %}
    </div>
  </div>

  <div class="row about">
    <div class="col-md-4 text-left sub_about1">
      {% trans %}Ils parlent de nous{% endtrans %}
    </div>

    <div class="col-md-8 text-left">
      <div class="sub_about3">
        {% trans %}Parutions dans la presse{% endtrans %}
      </div>

      <div class="sub_presse2">
        <ul class="press">
        {% for p in press %}
        <li><span class="glyphicon glyphicon-circle-arrow-right"></span> <strong>{{p.title|safe}}</strong><br>{{p.text|safe}}<a target="_blank" href="{{p.link}}" class="presscom"><i class="fa fa-eye"></i> {% trans %}Voir{% endtrans %}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div class="sub_about3">
        {% trans %}Communiqué de Presse{% endtrans %}
      </div>

      <div class="sub_presse2">
        <ul class="press">
          <li><span class="glyphicon glyphicon-circle-arrow-right"></span> Notre Communiqué de Presse du 18 Avril 2016 <a href="static/pdf/CommuniquePresse18042016.pdf" class="presscom"><i class="fa fa-download"></i> {% trans %}Télécharger{% endtrans %} <em>(PDF — 455 Ko)</em></a></li>
        </ul>
      </div>
    </div>

  </div>

</div>

{% endblock %}
